<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>

  <%- content %>

  <footer>
    <small>&copy; 2016 <%= title %></small>
  </footer>
</body>
</html>
